* {
    overflow: hidden;
    margin: 0;
    font-size: medium;
  }
  
  body {
    margin: 0;
  }
  button {
    height: 60px;
    border-radius: 50px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  
  nav {
    text-align: center;
    height: 80px;
    border-bottom: solid 10px rgb(66, 134, 65);
    background-color: rgb(222, 28, 60);
  }
  
  #container {
    height: 100vh;
    background-color: rgb(131, 122, 122);
  }
